# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Directories #
build/
bin/
target/
libs/
tmp/
node_modules/
**/out/**
# OS Files #
.DS_Store
out/
*.class

# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml

######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
#application.properties
######################
# NetBeans
######################
nbproject/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

######################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml

**application.properties

######################
# Eclipse
######################

*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Testing environment specific
derby.log

out/
target/

src/main/resources/META-INF/persistence.xml
persistence.xml

*.docx